@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=IBM+Plex+Mono:wght@200&family=Roboto+Mono&display=swap');



.container {
  width:100vw;
  margin: 0 auto;    
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.navbar {
  height: 120px;
  
  position: relative;
}

.logo {
}

.menu-icon {
  display: none;
}

.nav-elements {
}

.nav-elements ul {
    
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    font-weight: 200;
    color : white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
 
}

.nav-elements ul li:not(:last-child) {
  margin-right: 120px;

}
.nav-elements ul li:hover{
    color: #FF5F6D;   
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

.nav-elements ul a {
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    font-weight: 200;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.bar_edit{
  position: relative;
  display: flex;
  color:'white';
  right:-42vw;
  top:20px;
}
.bar_edit:hover{
  color: #FF5F6D;   
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media (max-width: 1176px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 120px;
  }
}
@media (max-width: 1280px) {
    .nav-elements ul {
        font-size: 24px;
    }
  }

@media (max-width: 1090px) {
  /* .container{
    justify-content: flex-end;
    margin-left:-40px;
    margin-top: 30px;
   
  } */
  .menu-icon {
    display: block;
    cursor: pointer;
  }


  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;    
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 280px;
    z-index: 9;
    
    background: rgba(245, 238, 238, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(245, 238, 238, 0.31);
   
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}