@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=IBM+Plex+Mono:wght@200&family=Oswald:wght@500&family=Roboto+Mono&family=Source+Sans+Pro&display=swap');
.main_container_aboutme{
    display: flex;
    flex-direction: row; 
    width: 100vw;  
    margin-top:10px; 
    /* Caution .*/
    padding-left: 40px;
    padding-right: 60px;
    height: 100vh;
   
}
.section_one_about_me{       
  
    display: flex;
    flex-direction: column;     
    flex:2; 
    justify-content: center;
    align-items: flex-start;
    margin-top: -100px;
    margin-left: 80px;
    position: relative;    
    gap:40px;
    /* background-color: #73d821; */
}
.section_two_about_me{   
  
    display: flex;
    flex-direction: column;    
    flex:2;   
    justify-content: center;
    align-items: center;
    

    /* background-color: #FF5F6D; */
}

.self_picture{
    width: 360px;
    transition: 0.3s ease-in-out;
    z-index: 8;
}
.blob{
    display: flex;
    position: absolute;
    z-index: -1;
    width: 900px;;
    
}
/* .self_picture:hover {
    transform: translate3d(0, -10px, 0);
  } */
.about_me_heading{
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    color : white;
    position: relative;
    /* margin-left:-30px; */
    
}
.about_me_text{
    width: calc(70% );
    height:auto;
    display: flex;
    font-size:20px;
    color : white;
    font-family: 'IBM Plex Mono', monospace;
    position: relative;
    
}

.large_text{
    display: flex;
    font-size: 160px;
    line-height: 180px;
    font-family: 'Oswald', sans-serif;
    z-index: -4;
    color : rgba(87, 87, 87, 0.253);
    position: absolute;
    margin-bottom: 280px;
    margin-right: 1800px;
    justify-content: flex-end;
    align-items: flex-end;

}
.rectangle1{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 55px;   
    /* margin-right: calc(52%); */
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color : white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
    background: #FF5F6D;
    box-shadow: 2px 4px 4px 5px rgba(115, 111, 111, 0.25);
    border-radius: 18px;
}
.rectangle1:hover{  
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: #fa1776;
    box-shadow: 2px 4px 4px 5px rgba(115, 111, 111, 0.25);
    border-radius: 18px;
 }
.particle_edit{
    display: flex;
    position: absolute;
    z-index: 12;
  
    /* background-color: #FF5F6D; */
}
@media (max-width: 768px) {
    .main_container_aboutme{
        flex-direction: column;
        padding-left: initial;
        padding-right:initial;
        
    }
    .section_one_about_me{    
        flex:initial;
        width: 100vw;
        padding: 40px;
        margin-left:initial
    }
    .section_two_about_me{    
        flex:initial;
    }
    .about_me_heading{
        font-size:29px;

        /* margin-left:-55px; */
    }
    .about_me_text{
        font-size:18px;
        width: calc(85% );
    }
    .rectangle1{
        /* margin-left:-240px; */
    }
}

